<div class="flex flex-col w-full h-full">
  <app-header></app-header>
  
  <div class="flex-grow w-full flex flex-row flex-grow overflow-hidden relative">
    <!-- Sidebar Toggle -->
    <button
      [class]="`${sidebarOpen() ? 'hidden' : ''} md:hidden absolute z-20 top-4 left-0 rounded-r-full p-3 bg-primary-container`"
      (click)="toggleSidebar()"
    >
      <app-theme-icon name="open-sidebar-icon" className="w-5"></app-theme-icon>
    </button>

    <!-- Sidebar -->
    <app-lesson-sidebar
      [class]="`${sidebarOpen() ? '' : 'hidden'} z-20 md:block h-full absolute md:relative`"
      [content]="subjectContent()"
      [currentView]="currentView()"
      (updateView)="updateCurrentView($event)"
      (closeSidebar)="toggleSidebar()"
      (reorderTopicEvent)="reorderTopics($event)"
    ></app-lesson-sidebar>

    <!-- Main View Container -->
  <div
    #contentContainer
    [class]="`overflow-hidden flex flex-grow`"
  >
    @if (currentView().type === 'subtopic') {
      <app-subtopic
        class="w-full overflow-hidden flex flex-col"
        [subjectName]="subjectContent().subject_name"
        [currentView]="currentView()"
        [currentTopic]="getTopicDataFromSubtopic()"
        [getPosition]="getSubtopicPosition()"
        (cycleSubtopic)="changeSubtopic($event)"
      ></app-subtopic>
    }
    @if (currentView().type === 'exercise' || currentView().type === 'exam') {
      <app-practice
        class="w-full overflow-hidden flex flex-col"
        [currentView]="currentView()"
        [subjectId]="subjectId()"
        [title]="(currentView().type == 'exercise') ? getTopicDataFromExercise().title : subjectContent().subject_name"
        [topicId]="(currentView().type == 'exercise') ? getTopicDataFromExercise().id : null"
        (changeQuestion)="updateChatMetadata($event)"
        (exerciseCompleted)="checkForTopicCompleteness($event)"
        (changeProgress)="updateProgress()"
      ></app-practice>
    }
    @if (currentView().type === 'flashcards') {
      <app-lesson-flashcards
        class="w-full overflow-hidden flex flex-col"
        [deckContent]="currentView().content"
      ></app-lesson-flashcards>
    }
    @if (currentView().type === 'glossary') {
      <app-glossary
        class="w-full overflow-hidden flex flex-col"
        [glossaryItems]="subjectContent().glossary"
        (scroll)="scrollToPosition($event)"
      ></app-glossary>
    }

    <!-- Chatbot Container -->
    <app-chatbot
      [class]="`w-[24rem] md:w-[32rem] absolute z-30 right-0 top-0 h-full
      ${(
          !chatOpen() ||
          (isExerciseOrExam  && (score == null)) ||
          (currentView().type === 'glossary') ||
          (currentView().type === 'flashcards')
        ) ? 'hidden' : ''}`"
      [chatHistory]="chatHistory()"
      [subjectId]="subjectId()"
      [metadata]="chatMetadata()"
      (closeChat)="toggleChatPopup()"
    ></app-chatbot>
  </div>
</div>

<!-- Chatbot Popup -->
<button
  [class]="`absolute z-20 right-6 md:right-16 bottom-12 md:hover:scale-125 transition-transform duration-200
  ${(
      chatOpen() ||
      (['exercise', 'exam'].includes(currentView().type)  && (score == null)) ||
      (currentView().type === 'glossary') ||
      (currentView().type === 'flashcards')
    ) ? 'hidden' : ''}`"
  (click)="toggleChatPopup()"
  [disabled]="(currentView().type !== 'subtopic' && (score == null))"
  #chatPopupButton
>
  <img src="images/Chat-Button.png" alt="Chat" class="w-16 lg:w-20">
</button>