<div class="py-4 w-full flex flex-col">
  <h1 class="mx-4 mt-4 text-2xl font-medium">
    Question {{getQuestionNumber()}}
  </h1>
  <div class="w-full p-4">
    <h2 class="prose prose-math mb-2 text-gray-800" [innerHTML]="question.text | markdown"></h2>
    @if (question.type === 'essay') {
      <!-- Essay Answering -->
      <textarea
        class="w-full p-2 text-gray-600 border-b-2 border-gray-300 resize-none overflow-hidden focus:outline-none focus:border-b-2 focus:border-prussian-blue-800"
        rows="1"
        placeholder="Type your answer here..."
        [(ngModel)]="question.essay_answer"
        oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';"
        onmousemove="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';"
        [disabled]="!(currentView().content.score == null) || loading"
      ></textarea>
      @if (currentView().content.score) {
        <div class="w-full my-2 text-gray-500">
          <strong><em>Feedback: </em></strong>
          <span class="prose prose-math" [innerHTML]="question.essay_feedback | markdown"></span>
        </div>
      }
    } @else {
      @for (option of question.options; track option.id) {
        <!-- Multiple Choice / Multiple Select Answering -->
        <div class="flex flex-row">
          <input 
            [type]="`${question.type === 'multiple choice' ? 'radio' : 'checkbox'}`" 
            [name]="question.id" 
            [id]="option.id" 
            class="m-2 accent-blue-900 cursor-pointer" 
            [value]="option.id"
            [checked]="option.selected"
            (change)="toggleSelectOption(option.id)"
            [disabled]="!(currentView().content.score == null) || loading"
          >
          <label 
            [for]="option.id" 
            [class]="`prose prose-math text-gray-600 cursor-pointer
            ${!(currentView().content.score == null) ? (option.correct ? 'text-green-600' : (option.selected? 'text-red-600' : '')) : ''}`"
            [innerHTML]="option.text | markdown"
            >
          </label>
        </div>
        @if (!(currentView().content.score == null)) {
          <div class="w-full my-1 text-gray-500">
            <strong><em><span class="prose prose-math" [innerHTML]="option.explanation | markdown"></span></em></strong>
          </div>
        }
      }
    }
  </div>
  
  <!-- Question Cycling -->
  <div class="flex flex-row">
    <button 
      [class]="`flex flex-row items-center mx-4 text-prussian-blue-900 lg:hover:text-prussian-blue-500 disabled:text-prussian-blue-500 ${currentIndex === 0 ? 'invisible' : ''}`" 
      (click)="cycleQuestion('prev')"
      [disabled]="currentIndex === 0"
    >
      <img src="images/dropdown-icon-closed.svg" alt="" class="w-2 m-4 rotate-180">
      Previous
    </button>
    <button 
      [class]="`flex flex-row items-center mx-4 text-prussian-blue-900 lg:hover:text-prussian-blue-500 disabled:text-prussian-blue-500 ${currentIndex === (currentView().content.questions.length - 1) ? 'invisible' : ''}`" 
      (click)="cycleQuestion('next')"
      [disabled]="currentIndex === (currentView().content.questions.length - 1)"
    >
      Next
      <img src="images/dropdown-icon-closed.svg" alt="" class="w-2 m-4">
    </button>
  </div>

  <!-- Question Navigation -->
  <div class="flex flex-row flex-wrap w-full p-4">
    @for (question of currentView().content.questions; track $index) {
      <button 
        [class]="`w-8 h-8 m-1 rounded-md lg:hover:bg-prussian-blue-500
        ${(currentIndex === $index) ? 'bg-prussian-blue-800 text-white' : 
          ((question.scored == null) ? 'bg-gray-300 text-gray-600' :
            (question.scored ? 'bg-green-600 text-white lg:hover:bg-green-400' : 'bg-red-600 text-white lg:hover:bg-red-400'))}`"
        (click)="goToQuestion($index)"
        [disabled]="loading"
      >
        {{$index + 1}}
      </button>
    }
  </div>

  <!-- Submission Button -->
  <div class="flex flex-row items-center">
    <button 
      class="self-start w-max text-sm text-white bg-prussian-blue-800 m-4 px-12 py-3 rounded-lg lg:hover:bg-prussian-blue-500 disabled:bg-prussian-blue-500 transition duration-100" 
      (click)="toggleSubmit()"
      [disabled]="loading || !(currentView().content.score == null)"
    >
      Submit
    </button>
    <div [class]="`flex flex-row items-center ${loading ? '' : 'hidden'}`">
      <img src="images/spinner.gif" alt="" class="w-8 h-8 mx-2">
      loading...
    </div>
  </div>
</div>

@if (showSubmitConfirmation) {
  <app-confirmation
    [title]="'Submit '+currentView().type"
    [message]="'Are you sure you want to submit your answers? Once submitted, you will not be able to change them.'"
    [acceptText]="'Submit'"
    [cancelText]="'Cancel'"
    (confirm)="submitAnswers()"
    (cancel)="toggleSubmit()"
  >
  </app-confirmation>
}