<div class="p-4 w-full flex flex-col">
  <h1 class="mx-4 mt-4 text-2xl font-medium">
    Question {{getQuestionNumber()}}
  </h1>
  <div class="w-full p-4">
    <markdown class="mb-2 text-gray-800" [data]="question.text"></markdown>
    <!-- <h2 class="mb-2 text-gray-800">
      {{question.text}}
    </h2> -->
    @if (question.type === 'essay') {
      <textarea
        class="w-full p-2 text-gray-600 border-b-2 border-gray-300 resize-none overflow-hidden focus:outline-none focus:border-b-2 focus:border-prussian-blue-800"
        rows="1"
        placeholder="Type your answer here..."
        [(ngModel)]="question.essay_answer"
        oninput="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';"
        onmousemove="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px';"
        [disabled]="currentView().content.score || loading"
      ></textarea>
      @if (currentView().content.score) {
        <div class="w-full my-2 text-gray-500">
          <strong><em>Feedback: </em></strong>
          <markdown class="" [data]="question.essay_feedback"></markdown>
        </div>
      }
    } @else {
      @for (option of question.options; track option.id) {
        <div>
          <input 
            [type]="`${question.type === 'multiple choice' ? 'radio' : 'checkbox'}`" 
            [name]="question.id" 
            [id]="option.id" 
            class="m-2 accent-blue-900 cursor-pointer" 
            [value]="option.id"
            [checked]="option.selected"
            (change)="toggleSelectOption(option.id)"
            [disabled]="currentView().content.score || loading"
          >
          <label 
            [for]="option.id" 
            [class]="`text-gray-600 cursor-pointer 
            ${currentView().content.score ? (option.correct ? 'text-green-600' : (option.selected? 'text-red-600' : '')) : ''}`"
            >
            <!-- <markdown class="inline" [data]="option.text"></markdown> -->
            {{option.text}}
          </label>
        </div>
        @if (currentView().content.score) {
          <div class="w-full my-1 text-gray-500">
            <strong><em><markdown class="" [data]="option.explanation"></markdown></em></strong>
          </div>
        }
      }
    }
  </div>
  
  <!-- Question Navigation -->
  <div class="flex flex-row">
    <button class="flex flex-row items-center mx-4 text-prussian-blue-900 hover:text-prussian-blue-500" (click)="cycleQuestion('prev')">
      <img src="images/dropdown-icon-closed.svg" alt="" class="w-2 m-4 rotate-180">
      Previous
    </button>
    <button class="flex flex-row items-center mx-4 text-prussian-blue-900 hover:text-prussian-blue-500" (click)="cycleQuestion('next')">
      Next
      <img src="images/dropdown-icon-closed.svg" alt="" class="w-2 m-4">
    </button>
  </div>

  <!-- Submission Button -->
  <button 
    class="self-start w-max text-sm text-white bg-prussian-blue-800 m-4 px-12 py-3 rounded-lg hover:bg-prussian-blue-500 transition duration-100" 
    (click)="submitAnswers()"
    [disabled]="loading"
  >
    Submit
  </button>
</div>
