<div 
  [class]="`${expanded() ? 'w-80' : 'md:w-max -translate-x-20 md:translate-x-0'} p-3 md:p-4 gap-2 md:gap-4 relative 
    h-full overflow-auto custom-scrollbar bg-surface-container-low flex flex-col items-center`"
>
  <!-- Sidebar Toggle -->
  <button
    [class]="`${expanded() ? 'hidden' : ''} md:hidden absolute z-20 top-4 -right-10 rounded-r-full p-3 bg-primary-container`"
    (click)="toggleSidebar()"
  >
    <app-theme-icon name="open-sidebar-icon" className="w-5"></app-theme-icon>
  </button>

  <div [class]="`w-${expanded() ? 'full' : 'max'} text-sm md:text-base flex items-center justify-between p-4 border-b-[1px] border-outline`">
    @if (expanded()) {
      <span>Menu</span>
    }
    <button class="md:hover:opacity-60" (click)="toggleSidebar()">
      <app-theme-icon [name]="`${expanded() ? 'close-sidebar-icon' : 'open-sidebar-icon'}`" className="w-5 md:w-6"></app-theme-icon>
    </button>
  </div>

  <div [class]="`w-${expanded() ? 'full' : 'max'} gap-1 md:gap-2 flex flex-col`">
    @for (page of dashboardPages; track $index) {
      <app-sidebar-item 
        [title]="page.title" 
        [icon]="page.icon" 
        [expanded]="expanded()"
        [selected]="page.selected"
        (clickedAction)="navigateToPage(page.route, $index)"
      ></app-sidebar-item>
    }
  </div>

  <button class="mt-auto mb-2 md:mb-4 flex items-center gap-4 w-full hover:bg-surface-container-high p-2 rounded-lg" (click)="navigateToSettings()">
    <div class="p-3 md:p-5 text-md md:text-xl rounded-full bg-primary-container text-on-primary-container leading-none font-medium">
      {{ initials() }}
    </div>
    @if (expanded()) {
      <div class="flex flex-col items-start">
        <span class="text-sm md:text-base">
          {{ fullName() }}
        </span>
        <span class="text-on-surface-variant text-xs md:text-sm">
          {{ email() }}
        </span>
      </div>
    }
  </button>
</div>
