<div class="w-screen h-screen flex flex-col">
  <app-header></app-header>
  <div class="relative flex-1 w-full flex overflow-hidden">
    <!-- Topic Selection -->
    @if (showTopics() || !isMobile()) {
      <div class="absolute md:relative z-20 w-[360px] h-full flex flex-col gap-4 bg-surface-container p-4">
        <span class="block p-2 text-xl md:text-2xl font-medium border-b-[1px] border-outline-variant flex items-center justify-between">
          Topics ({{ selectedTopics.length }}/{{ topics.length }})
  
          <app-theme-icon 
            name="close-sidebar-icon"
            class="md:hidden cursor-pointer md:hover:opacity-60"
            (click)="toggleTopicView()"
          ></app-theme-icon>
        </span>
  
        <!-- Topic List -->
        <div 
          #topicList
          class="flex-1 flex flex-wrap items-start content-start gap-2 w-full overflow-y-auto custom-scrollbar" 
          cdkDropList 
          (cdkDropListDropped)="drop($event)" 
          cdkDropListOrientation="mixed"
        >
          @for (topic of topics; track topic.id) {
            <button
              class="flex items-center text-left gap-2 rounded-full py-2 px-3 text-xs md:text-sm w-max"
              [class.bg-primary]="topic.selected"
              [class.text-on-primary]="topic.selected"
              [class.bg-primary-container]="!topic.selected"
              [class.text-on-primary-container]="!topic.selected"
              (click)="toggleTopicSelection(topic.id)"
              [disabled]="loading() || (subjectStatus !== 'pending_topic_selection')"
              cdkDrag
              [cdkDragDisabled]="loading()"
            >
              @if (topic.selected) {
                <app-theme-icon name="check-on-primary" className="h-4 md:h-5"></app-theme-icon>
              }
              {{topic.title}}
            </button>
          }
        </div>
  
        <div class="flex items-center justify-center gap-1 md:gap-2 font-medium text-md md:text-lg">
          Base Lesson Cost: 
          <app-theme-icon name="credits-icon" className="w-4 md:w-6"></app-theme-icon> 
          {{ getCost('lesson').value }}
          <!-- @if (overcharge_rate > 0) {
          +  {{ getCost('lesson').overcharge }}
          } -->
        </div>
      </div>
    }

    <!-- Main Content -->
    <div class="relative z-0 flex-1 h-full flex flex-col gap-2 p-4">
      <!-- Lesson Name -->
      <div class="flex flex-row items-center justify-between p-2 md:p-4 border-b-[1px] border-outline-variant">
        <div class="flex items-center gap-2">
          <button class="md:hover:opacity-60" (click)="saveLessonName()">
            <app-theme-icon name="save-primary" className="w-5 md:w-6"></app-theme-icon>
          </button>
          <input
            type="text"
            name="subject-name"
            placeholder="Lesson Name"
            [(ngModel)]="subjectName"
            [size]="(subjectName.length || 10) + 1"
            class="font-medium text-xl md:text-2xl max-w-[12rem] md:max-w-lg bg-transparent border-b border-transparent focus:outline-none focus:border-outline"
          >
          <!-- <input
            #subjectInput
            type="text"
            name="subject-name"
            placeholder="Lesson Name"
            [(ngModel)]="subjectName"
            [style.width.px]="subjectInput.scrollWidth"
            class="font-medium text-2xl max-w-lg bg-transparent border-b border-transparent focus:outline-none focus:border-outline"
          > -->
        </div>

        <div class="relative flex items-center justify-center gap-1 md:gap-2 font-medium text-md md:text-lg">
          Total Cost: 
          <app-theme-icon name="credits-icon" className="w-4 md:w-6"></app-theme-icon> 
          {{ getCost('total').value }}
          @if (overcharge_rate > 0) {
          <span 
            class="text-sm md:text-base text-primary md:hover:opacity-60 cursor-pointer"
            (click)="toggleOverchargeExplanation()"
          >
            +  {{ getCost('total').overcharge }}
          </span>
          }

          @if (overchargeExplanationPopup()) {
            <div class="absolute right-0 top-8 z-10 bg-surface-container border border-outline rounded-lg p-2 font-normal text-xs md:text-sm w-max">
              <span>Overcharge Costs Breakdown</span> <br>
              Base Lesson: {{ getCost('lesson').overcharge }} <br>
              @for (extension of selectedExtensions; track $index) {
                {{ extension.displayName }}: {{ getCost(extension.name).overcharge }} <br>
              }
            </div>
          }
        </div>
      </div>
      
      <!-- Mobile View Topic Toggle -->
      <span class="md:hidden block p-2 text-xl md:text-2xl font-medium gap-4 flex items-center">
        Topics ({{ selectedTopics.length }}/{{ topics.length }})

        <app-theme-icon 
          name="gear-icon"
          className="w-5"
          class="md:hidden cursor-pointer md:hover:opacity-60"
          (click)="toggleTopicView()"
        ></app-theme-icon>
      </span>
      
      <!-- Extensions -->
      <div class="flex-1 w-full flex flex-col gap-2 md:p-2 overflow-y-auto custom-scrollbar">

        <span class="block md:py-2 px-2 text-xl md:text-2xl font-medium">
          Extensions ({{ selectedExtensions.length }})
        </span>
        @if (selectedExtensions.length > 0) {
          <div class="flex flex-wrap gap-6 p-2">
            @for (extension of selectedExtensions; track $index) {
              <div
                [style.--extension-colour]="extension.colour"
                class="
                  h-[220px] w-[340px] flex flex-col gap-4 p-4 rounded-xl border-2 border-t-[6px] border-[color-mix(in_srgb,var(--extension-colour)_50%,transparent)]
                  md:hover:border-[var(--extension-colour)] md:hover:shadow-[0_0_8px_6px_color-mix(in_srgb,var(--extension-colour)_70%,transparent)]
                  transition-all duration-300 ease-in-out cursor-pointer overflow-y-auto scrollbar-none"
                (click)="toggleConfigOverlay()"
              >
                <div class="flex items-center justify-between">
                  <div class="rounded-lg p-2" [style.background-color]="extension.desaturatedColour">
                    <img class="w-6 h-6" [src]="`images/${extension.icon}.svg`" [alt]="extension.name">
                  </div>
                  <span class="font-medium text-lg text-center block">{{ extension.displayName }}</span>
                  <div class="flex items-center justify-center gap-2 font-medium">
                    <app-theme-icon name="credits-icon"></app-theme-icon> 
                    {{ getCost(extension.name).value }}
                    <!-- @if (overcharge_rate > 0) {
                    +  {{ getCost(extension.name).overcharge }}
                    } -->
                  </div>
                </div>

                <span class="text-xs flex-1 text-center">{{ extension.description }}</span>

                <div class="flex items-end justify-between">
                  @if (!extension.types && !extension.amount) {
                    <span class="p-1 px-2 bg-surface-container-high text-xs rounded-full">
                      No configuration needed
                    </span>
                  } @else {
                    @if (extension.types) {
                      <div class="flex flex-col gap-2">
                        <span class="text-sm font-medium block">Types:</span>
                        <div class="flex flex-wrap gap-2">
                          @for (type of extension.types; track $index) {
                            @if (!((type == 'text') && (extension.name == 'cells'))) {  
                              <span class="p-1 px-2 bg-surface-container-high text-xs rounded-full">
                                {{ getOptionLabel(extension, type) }}
                              </span>
                            }
                          }
                        </div>
                      </div>
                    }
                    @if (extension.amount) {
                      <div class="ml-auto flex flex-col items-end gap-2">
                        <span class="text-sm font-medium block">Amount:</span>
                        <span class="p-1 px-2 bg-surface-container-high text-xs rounded-full">
                          {{ extension.amount }} @if (extension.perTopic) {(per topic)}
                        </span>
                      </div>
                    }
                  }
                </div>
              </div>
            }
            @if (selectedExtensions.length < extensionList.length) {
              <div 
                class="h-[220px] w-[340px] flex flex-col gap-2 items-center justify-center rounded-xl border border-outline-variant border-dashed
                bg-surface-container-low cursor-pointer transition-all duration-150 ease-in-out md:hover:border-primary group"
                (click)="toggleConfigOverlay()"
              >
                <app-theme-icon name="add-extension-icon"></app-theme-icon>
                <span class="group-hover:underline">Add Extension</span>
              </div>
            }
          </div>
        } @else {
          <div class="w-full flex-1 p-3 pb-8">
            <div 
              class="w-full h-full flex flex-col gap-2 items-center justify-center rounded-xl border border-outline-variant border-dashed
              relative bg-surface-container-low cursor-pointer transition-all duration-150 ease-in-out md:hover:border-primary group"
              (click)="toggleConfigOverlay()"
            >
              <app-theme-icon name="add-extension-icon"></app-theme-icon>
              <span class="group-hover:underline text-md md:text-lg">Click here to add an extension</span>
              <span class="text-xs md:text-sm absolute bottom-4 italic">No Extension currently selected</span>
            </div>
          </div>
        }
      </div>


      <!-- Preference Form -->
      <form #form="ngForm" class="flex flex-col gap-2 md:gap-3 p-3 md:p-4 rounded-2xl bg-surface-container border border-outline">
        <textarea 
          type="text" 
          name="learningStyle" 
          placeholder="Type your preferences for the lesson here..." 
          class="w-full max-h-[30vh] bg-transparent p-2 text-xs md:text-sm rounded-xl resize-none overflow-y-auto custom-scrollbar 
          border-b-[1px] border-outline-variant focus:border-primary focus:outline-none" 
          rows="1"
          cols="1"
          #textInput
          (input)="adjustInputHeight()"
          (mousemove)="adjustInputHeight()"
          [(ngModel)]="learningStyle"
          required
          [disabled]="loading() || (subjectStatus === 'pending_lesson_generation')"
        >
        </textarea>
        <div class="flex items-center justify-between ">
          <button class="flex items-center gap-2 text-primary md:hover:opacity-60 text-sm md:text-base" (click)="togglePromptSuggestions()">
            <app-theme-icon name="magic-wand-primary" className="w-5 md:w-6"></app-theme-icon>
            Prompt Suggestions
          </button>

          <div class="self-end flex items-center gap-4">
            @if (loading()) {
              <img src="images/spinner.gif" class="w-6 h-6" />
            }
            <button
              #submitButton
              class="flex items-center justify-center w-6 md:w-8 h-6 md:h-8 rounded-full lg:hover:opacity-60 disabled:opacity-60"
              (click)="go()"
              [disabled]="loading()"
            >
              <app-theme-icon name="send-icon"/>
            </button>
          </div>
        </div>
      </form>
    </div>

    <!-- Prompt Suggestions -->
    @if (showPromptSuggestions) {
      <div class="absolute right-0 md:relative z-10 w-[360px] h-full flex flex-col gap-4 bg-surface-container p-4 overflow-y-auto custom-scrollbar">
        <span class="block p-2 text-xl md:text-2xl font-medium border-b-[1px] border-outline-variant flex items-center gap-2">
          Prompt Suggestions <app-theme-icon name="magic-wand" class="h-full flex items-center"></app-theme-icon>
          <app-theme-icon
            name="x-icon"
            class="ml-auto md:hover:opacity-60"
            (click)="togglePromptSuggestions()"
          ></app-theme-icon>
        </span>
  
        @for (prompt of promptSuggestions; track $index) {
          <div class="group">
            <div class="flex items-center justify-between text-md md:text-lg font-medium">
              {{ prompt.title }}
              <button 
                class="md:opacity-0 md:group-hover:opacity-100 md:hover:brightness-150"
                (click)="addPrompt(prompt.content)"
              >
                <app-theme-icon name="enter-primary-icon" className="w-5 md:w-6"></app-theme-icon>
              </button>
            </div>
            <div class="text-xs md:text-sm text-on-surface-variant">
              {{ prompt.content }}
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>

@if (configOverlay) {
  <app-extension-config-overlay
    [configuration]="extensionSettings"
    [costSettings]="costSettings"
    (close)="saveConfig($event)"
  ></app-extension-config-overlay>
}

@if (filesOverlay) {
  <app-file-upload-overlay
    (close)="closeFileOverlay()"
  ></app-file-upload-overlay>
}