<button
  [disabled]="disabled()"
  [type]="'button'"
  (pointermove)="onPointerMove($event)"
  (pointerleave)="onPointerLeave($event)"
  [class]="`
    relative overflow-hidden w-full
    font-bold py-3 px-6 rounded-lg md:text-lg text-on-primary
    transition-all duration-200 ease-in-out brightness-110 md:hover:brightness-150
    bg-[radial-gradient(circle,var(--primary-dim)_40%,var(--primary-bright)_100%)]
    ${additionalClasses()}
    ${disabled() ? 'opacity-50 cursor-not-allowed pointer-events-none' : ''}
  `"
>
  <span class="relative z-10 flex items-center justify-center">
    <ng-content></ng-content>
  </span>
</button>
