<div 
  #viewContainer 
  class="w-full flex flex-col 
  px-8 lg:pl-12 min-h-0 flex-1 overflow-y-auto scrollbar-thin scrollbar-thumb-gray-400 lg:hover:scrollbar-thumb-gray-500"
>
  <!-- Top Section -->
  <div class="flex flex-row justify-between lg:pt-4 lg:pb-2 sticky z-[9] top-0 bg-[var(--bg-page)]">
    <!-- Topic tree display -->
    <div class="hidden lg:flex flex-row items-center text-[var(--text-secondary)]">
      {{ currentTopic().title }}
      <app-theme-icon name="dropdown-icon" className="w-2 m-4"></app-theme-icon>
      {{ currentView().content.title }}
    </div>
    <!-- Subtopic Navigation -->
    <div class="flex flex-row ml-auto">
      <button 
        [class]="`flex flex-row items-center mr-4 lg:mx-4 text-[var(--text-primary)] lg:hover:text-[var(--text-primary-hover)] disabled:text-[var(--text-primary-hover)] ${getPosition().includes('top') ? 'invisible' : ''}`" 
        (click)="prevSubtopic()"
        [disabled]="getPosition() === 'top'"
      >
      <app-theme-icon name="dropdown-icon" className="w-2 m-4 rotate-180"></app-theme-icon>
        Previous
      </button>
      <button 
        [class]="`flex flex-row items-center ml-4 lg:mx-4 text-[var(--text-primary)] lg:hover:text-[var(--text-primary-hover)] disabled:text-[var(--text-primary-hover)] ${getPosition().includes('bottom') ? 'invisible' : ''}`" 
        (click)="nextSubtopic()"
        [disabled]="getPosition() === 'bottom'"
      >
        Next
        <app-theme-icon name="dropdown-icon" className="w-2 m-4"></app-theme-icon>
      </button>
    </div>
  </div>

  <!-- Subtopic Name -->
  <h1 class="flex flex-row items-center my-6">
    <div class="rounded-full bg-[var(--bg-card)] p-3">
      <img src="images/subject-icon.svg" class="w-6">
    </div>
    <span class="text-3xl font-medium mx-4">{{ currentView().content.title }}</span>
  </h1>

  <!-- Subtopic Content -->
  <div class="text-lg text-gray-700 pb-32">
    @for (cell of currentView().content.cells; track $index) {
      @if (cell.type === "text") {
        <!-- Markdown Text Cells -->
        <app-markdown-cell [data]="cell"></app-markdown-cell>
      } @else if (cell.type === "graph") {
        <app-chart-cell [data]="cell"></app-chart-cell>
      } @else if (cell.type === "audio_snippet") {
        <app-audio-snippet-cell [data]="cell"></app-audio-snippet-cell>
      } @else if (cell.type === "executable_code") {
        <app-executable-code-cell [data]="cell"></app-executable-code-cell>
      } @else {
        <!-- Default Fallback Cells -->
        <app-markdown-cell [data]="cell"></app-markdown-cell>
      }
    }
  </div>
</div>