<div class="w-full flex flex-col">
  <!-- Top Section -->
  <div class="flex flex-row justify-between pt-4 pb-2 sticky z-[9] top-0 bg-white">
    <!-- Topic tree display -->
    <div class="hidden lg:flex flex-row items-center text-prussian-blue-800">
      {{ currentTopic().title }}
      <img src="images/dropdown-icon-closed.svg" alt="" class="w-2 m-4">
      {{ currentView().content.title }}
    </div>
    <!-- Subtopic Navigation -->
    <div class="flex flex-row ml-auto">
      <button 
        [class]="`flex flex-row items-center mx-4 text-prussian-blue-900 hover:text-prussian-blue-500 disabled:text-prussian-blue-500 ${getPosition().includes('top') ? 'invisible' : ''}`" 
        (click)="prevSubtopic()"
        [disabled]="getPosition() === 'top'"
      >
        <img src="images/dropdown-icon-closed.svg" alt="" class="w-2 m-4 rotate-180">
        Previous
      </button>
      <button 
        [class]="`flex flex-row items-center mx-4 text-prussian-blue-900 hover:text-prussian-blue-500 disabled:text-prussian-blue-500 ${getPosition().includes('bottom') ? 'invisible' : ''}`" 
        (click)="nextSubtopic()"
        [disabled]="getPosition() === 'bottom'"
      >
        Next
        <img src="images/dropdown-icon-closed.svg" alt="" class="w-2 m-4">
      </button>
    </div>
  </div>

  <!-- Subtopic Name -->
  <h1 class="flex flex-row items-center my-6">
    <div class="rounded-full bg-prussian-blue-200 p-3">
      <img src="images/subject-icon.svg" alt="" class="w-6">
    </div>
    <span class="text-3xl font-medium mx-4">{{ currentView().content.title }}</span>
  </h1>

  <!-- Subtopic Content -->
  <div class="text-lg text-gray-700 pb-32">
    @for (cell of currentView().content.cells; track $index) {
      @if (cell.type === "text") {
        <!-- Markdown Text Cells -->
        <div class="prose prose-math" [innerHTML]="cell.content | markdown"></div>
      } @else {
        <!-- Default Fallback Cells -->
        <div class="prose prose-math" [innerHTML]="cell.content | markdown"></div>
      }
    }
  </div>
</div>