<div class="mx-6 mb-6 h-max relative">
  <!-- Return to Dashboard -->
  <div class="flex flex-row mb-2 lg:pt-6 items-center justify-between sticky top-0 bg-[var(--bg-page)] z-10">
    <div class="flex flex-row items-center">
      <button class="rounded-full p-3 bg-prussian-blue-700 lg:hover:bg-prussian-blue-400" routerLink="/dashboard">
        <img src="/images/subject-icon-white.svg" class="w-5" alt="">
      </button>
      <span class="text-[var(--text-primary)] lg:hover:text-prussian-blue-400 mx-4 cursor-pointer font-medium" routerLink="/dashboard">Back to Subjects</span>
    </div>
    <button class="block lg:hidden p-3 rounded-full bg-prussian-blue-700 lg:hover:bg-prussian-blue-400" (click)="closeBar()">
      <img src="images/x-icon.svg" alt="">
    </button>
  </div>

  <!-- Main Navigation -->
  <div class="p-2">
    <!-- Topic List -->
    @for (topic of content().topics; track topic.id) {
      <button [class]="`flex flex-row items-center text-[var(--text-primary)] lg:hover:text-[var(--text-primary-hover)] text-left ${!topic.completed ? 'font-bold' : ''}`" (click)="toggleExpandTopic(topic.id)">
        <img src="images/dropdown-icon-closed.svg" alt="" [class]="`w-2 m-4 z-0 ${topic.expanded ? 'rotate-90' : ''}`">
        {{ topic.title }}
      </button>
      @if (topic.expanded) {
        <!-- Subtopic List -->
        @for (subtopic of topic.subtopics; track subtopic.id) {
          <button [class]="`py-2 px-2 pl-8 text-[var(--text-secondary)] w-full text-left lg:hover:bg-[var(--bg-hover)] border-[var(--text-primary)]
            ${(subtopic.id === currentView().id && currentView().type === 'subtopic') ? 'border-l-4' : ''}
            ${!subtopic.read ? 'font-bold' : ''}`"
            (click)="selectView(subtopic.id, 'subtopic')"
          >
            {{ subtopic.title }}
          </button>
        }
        <!-- Exercise -->
        @if (topic.exercise) {
          <button [class]="`py-2 px-2 pl-8 text-[var(--text-secondary)] w-full text-left lg:hover:bg-[var(--bg-hover)] border-[var(--text-primary)]
            ${(topic.exercise.id === currentView().id && currentView().type === 'exercise') ? 'border-l-4' : ''}
            ${!topic.exercise.score ? 'font-bold' : ''}`"
            (click)="selectView(topic.exercise.id, 'exercise')">
            Exercise
          </button>
        }
      }
    }

    <!-- Exam -->
    @if (content().exam) {
      <button [class]="`py-2 px-2 pl-8 text-[var(--text-secondary)] w-full text-left lg:hover:bg-[var(--bg-hover)] border-[var(--text-primary)] 
        ${(content().exam.id === currentView().id && currentView().type === 'exam') ? 'border-l-4' : ''}
        ${!content().exam.score ? 'font-bold' : ''}`"
        (click)="selectView(content().exam.id, 'exam')">
        Exam
      </button>
    }

    <!-- Glossary -->
    @if (content().glossary) {
      <button [class]="`py-2 px-2 pl-8 text-[var(--text-secondary)] w-full text-left lg:hover:bg-[var(--bg-hover)] border-[var(--text-primary)] 
        ${(content().glossary.id === currentView().id && currentView().type === 'glossary') ? 'border-l-4' : ''}`"
        (click)="selectView('glossary', 'glossary')">
        Glossary
      </button>
    }
  </div>
</div>
