@if (show) {
  <div
    class="fixed inset-0 bg-black bg-opacity-60 flex items-center justify-center z-50"
    (click)="confirm(false)"
  >
    <div
      class="bg-surface-container rounded-2xl p-6 max-w-sm md:max-w-md w-full shadow-lg flex flex-col items-center gap-4"
      (click)="$event.stopPropagation()"
    >
      <app-theme-icon name="help-circle-icon" className="w-14" class="mb-4"></app-theme-icon>
      <h3 class="text-3xl font-medium text-on-surface">{{options.title}}</h3>
      <p class="text-on-surface-variant">{{options.message}}</p>
      <div class="flex justify-end w-full items-center gap-2">
        <button
          class="bg-primary text-on-primary px-4 py-2 rounded-md flex items-center gap-2 hover:opacity-60 
          transition-opacity shadow-[inset_0_6px_12px_-2px_rgba(255,255,255,0.25)]"
          (click)="confirm(true)"
        >
          {{options.okText}}
        </button>
        <button
          class="bg-primary-container text-on-primary-container px-4 py-2 rounded-md flex items-center gap-2 hover:opacity-60 
          transition-opacity shadow-[inset_0_6px_12px_-2px_rgba(255,255,255,0.25)]"
          (click)="confirm(false)"
        >
          {{options.cancelText}}
        </button>
      </div>
    </div>
  </div>
}