@if (show) {
  <div
    class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
    (click)="confirm(false)"
  >
    <div
      class="bg-[var(--bg-page)] rounded-lg p-6 max-w-sm w-full shadow-lg"
      (click)="$event.stopPropagation()"
    >
      <h3 class="text-xl font-semibold mb-2">{{options.title}}</h3>
      <p class="text-[var(--text-secondary)] mb-4">{{options.message}}</p>
      <div class="flex justify-end space-x-3">
        <button
          class="px-4 py-2 bg-[var(--bg-card)] rounded lg:hover:bg-[var(--bg-card-hover)]"
          (click)="confirm(false)"
        >
          {{options.cancelText}}
        </button>
        <button
          class="px-4 py-2 bg-prussian-blue-700 text-white rounded lg:hover:bg-prussian-blue-400"
          (click)="confirm(true)"
        >
          {{options.okText}}
        </button>
      </div>
    </div>
  </div>
}