<div class="mb-4 max-w-[710px] text-[var(--text-primary)]">
  <ngx-monaco-editor
    [options]="editorOptions"
    [(ngModel)]="code"
    [style.height]="height"
    [style.max-height]="`400px`"
    >
  </ngx-monaco-editor>

  <div class="flex flex-row items-center justify-between">
    <button
      class="px-5 py-3 text-white bg-prussian-blue-700 lg:hover:bg-prussian-blue-400 disabled:bg-prussian-blue-400 rounded-md"
      (click)="runCode()"
    >
      Execute
    </button>
    @if (loading) {
      <img class="w-8" src="images/spinner.gif" alt="loading...">
    }
  </div>

  @if (output.output) {
    Output:
    <pre [class]="`border-[1px] border-color-[var(--text-primary-hover)] p-2 rounded-md text-${(output.code == 0) ? '[var(--text-primary)]' : 'red-600'}`">{{ output.output }}</pre>
  }
</div>
